<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cnae?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">cnaeu</property>
    <property name="hibernate.connection.password">cnaeu1</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.pool_size">4</property>
    <mapping resource="modelo/Actividad.hbm.xml"/>
    <mapping resource="modelo/Docente.hbm.xml"/>
    <mapping resource="modelo/Notas.hbm.xml"/>
    <mapping resource="modelo/Estructuraevaluacion.hbm.xml"/>
    <mapping resource="modelo/Carrera.hbm.xml"/>
    <mapping resource="modelo/Calendario.hbm.xml"/>
    <mapping resource="modelo/Facultad.hbm.xml"/>
    <mapping resource="modelo/Asignatura.hbm.xml"/>
    <mapping resource="modelo/Estudiantes.hbm.xml"/>
    <mapping resource="modelo/Asistencia.hbm.xml"/>
    <mapping resource="modelo/Universidad.hbm.xml"/>
    <mapping resource="modelo/Actividaddet.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
